# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
pt_one_df = pd.read_csv("city_weather_dataframe.csv")
pt_one_df.dropna(inplace = True)
pt_one_df

,Cities,Forecast,Cloudiness (%),Country,Date,Humidity,Lat,Lng,Max Temperature (F),Wind Speed (mph)
0,teya,Clear,1.0,RU,2020-04-11 13:13:17,94.0,60.38,92.63,24.39,4.03
1,korla,Clouds,17.0,CN,2020-04-11 13:14:43,21.0,41.76,86.15,58.80,3.67
2,aklavik,Clouds,20.0,CA,2020-04-11 13:10:37,84.0,68.22,-135.01,5.00,4.70
4,ribeira grande,Clouds,20.0,PT,2020-04-11 13:14:43,77.0,38.52,-28.70,64.40,4.70
5,kodiak,Clouds,90.0,US,2020-04-11 13:14:44,77.0,57.79,-152.41,39.20,16.11
...,...,...,...,...,...,...,...,...,...,...
621,itacoatiara,Rain,100.0,BR,2020-04-11 13:15:58,95.0,-3.14,-58.44,76.30,3.76
622,laguna,Clouds,90.0,US,2020-04-11 13:13:00,82.0,38.42,-121.42,59.00,4.70
623,nuuk,Clouds,99.0,GL,2020-04-11 13:15:59,69.0,64.18,-51.72,39.20,4.70
624,del rio,Clouds,90.0,US,2020-04-11 13:12:23,78.0,29.36,-100.90,73.40,14.99
625,beloha,Rain,88.0,MG,2020-04-11 13:15:59,81.0,-25.17,45.05,73.08,16.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = pt_one_df[["Lat","Lng"]]
humid = pt_one_df["Humidity"].astype(float)

In [5]:
fig = gmaps.figure(center = (20,10), zoom_level = 2)
heat_map = gmaps.heatmap_layer(locations, weights=humid ,dissipating = False, max_intensity=100, point_radius=1.5)
# heat_map
fig.add_layer(heat_map)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Ideal Weather Conditions: Above 70 F and Below 80 F. Humidity 25 - 75%. Forecast = Sunny/Clear
ideal_temp = pt_one_df.loc[(pt_one_df["Max Temperature (F)"] > 70) & (pt_one_df["Max Temperature (F)"] < 80) ,:]
ideal_humidity = ideal_temp.loc[(ideal_temp["Humidity"]>40) & (ideal_temp["Humidity"]<75),:]
ideal_sunny = ideal_humidity.loc[(ideal_humidity["Forecast"] == "Clear"),:]
ideal_sunny.sort_values(by=["Max Temperature (F)"], ascending = False)
del ideal_sunny["Wind Speed (mph)"] 
del ideal_sunny["Cloudiness (%)"]
del ideal_sunny["Date"]
ideal_sunny

         Cities Forecast Country  Humidity    Lat     Lng  Max Temperature (F)
120      athens    Clear      GR      42.0  37.98   23.72                71.01
149  sao filipe    Clear      CV      69.0  14.90  -24.50                77.70
173     estelle    Clear      US      56.0  29.85  -90.11                75.99
189      dingle    Clear      PH      73.0  11.00  122.67                77.40
311     sawakin    Clear      SD      67.0  19.11   37.33                74.95
349    necochea    Clear      AR      52.0 -38.55  -58.74                78.01
383        lasa    Clear      IT      41.0  46.62   10.70                75.20
447      namibe    Clear      AO      67.0 -15.20   12.15                77.36
561   ladispoli    Clear      IT      67.0  41.95   12.07                72.00
614  santo nino    Clear      PH      69.0   6.43  124.70                74.28

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = pd.DataFrame()
hotel_df["Hotel Name"] = ""
hotel_df["Location"] = ""
hotel_df

Empty DataFrame
Columns: [Hotel Name, Location]
Index: []

In [12]:
# Setting up base url for requests

for index,row in ideal_sunny.iterrows():
    row_lat = ideal_sunny["Lat"][(index)]
    row_lng = ideal_sunny["Lng"][(index)]
    
    parameters = {"key":g_key,
             "type": "lodging",
             "radius": 5000,
             "location":f'{row_lat},{row_lng}',
             "rankBy": "distance"}

    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params = parameters)
    json_response = response.json()
    try:    
        hotel_df.loc[index,"Hotel Name"] = json_response["results"][0]["name"]
        hotel_df.loc[index,"Location"] = json_response["results"][0]["plus_code"]["compound_code"]
        hotel_df.loc[index,"Long"] = json_response["results"][0]["geometry"]["location"]["lng"]
        hotel_df.loc[index,"Lat"] = json_response["results"][0]["geometry"]["location"]["lat"]
    except:
        print(f'{index} - No Hotel')
#     print(json.dumps(json_response, indent = 4))

In [13]:
hotel_df.set_index(["Hotel Name"])

# # json_response["results"][0]
# print(json_response["results"][0]["name"])
# print(json_response["results"][0]["vicinity"])
# print(json_response["results"][0]["plus_code"]["compound_code"])

,Location,Long,Lat
Hotel Name,,,
Novotel Athenes,"XPQG+R2 Athens, Athina, Greece",23.725064,37.989533
Tortuga B&B,"VGJ4+7R Sao Filipe, Cape Verde",-24.492962,14.880736
Comfort Inn Marrero - New Orleans West,"VVRG+VV Marrero, Parish Governing Authority Di...",-90.122823,29.892187
Camp Pasica,"XMJ8+WM Dingle, Iloilo, Philippines",122.666657,10.982344
فندق الدويم,"483H+JP Suakin, Sudan",37.329286,19.104039
dyd -mar Hotel,"C7CF+CF Necochea, Buenos Aires Province, Argen...",-58.726309,-38.578935
Pension Feldgärtenhof,"JQH2+G8 Schlanders, South Tyrol, Italy",10.750799,46.628854
Chik-Chik Namibe,"R525+V2 Namibe, Angola",12.157615,-15.197855
Hotel Villa Margherita,"W3XG+8M Ladispoli, Metropolitan City of Rome, ...",12.076635,41.948315
The Signature Place,"CMQF+FH Santo Niño, South Cotabato, Philippines",124.673943,6.438710

In [14]:
hotel_coordinates = []
# param = {"locations":hotel_coordinates}

for index,row in hotel_df.iterrows():
    hotel_lat = hotel_df["Lat"][(index)]
    hotel_lng = hotel_df["Long"][(index)]
    hotel_coordinates.append((hotel_lat,hotel_lng))

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City & Country </dt><dd>{Location}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]
markers = gmaps.marker_layer(hotel_coordinates, info_box_content = hotel_info)
fig.add_layer(markers)
fig

# info_box_content=plant_info

Figure(layout=FigureLayout(height='420px'))